<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">Detalle de ingreso egreso</h4>

            <table class="table">
                <thead>
                <tr>
                    <th style="text-align: center;">Descripción</th>
                    <th style="text-align: center;">Monto</th>
                    <th style="text-align: center;">Tipo</th>
                    <th style="text-align: center;"></th>
                </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of items | ordenIe">
                        <td style="text-align: left;">{{ item.descripcion }}</td>
                        <td style="text-align: right;">{{ item.monto | currency:'S/. ' }}</td>
                        <td style="text-align: center;">
                            <span [ngClass]="{'text-success': item.tipo === 'ingreso', 'text-danger': item.tipo === 'egreso'}">
                                {{ item.tipo }}
                            </span>
                        </td>
                        <td style="text-align: center;">
                            <button class="btn btn-danger" (click)="BorrarItem(item.uid)">
                                <i class="fa fa-trash"></i>
                                Borrar
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>


            </div>
        </div>
    </div>
</div>
    